<mat-card class="user-details" *ngIf="newsDetails">
    <mat-card-title>{{newsDetails[0].title}}</mat-card-title><br><br>
    <mat-card-content>
        <!-- {{newsDetails[0].newsImage}}<br> -->
        <b>News Categoty:</b>{{newsDetails[0].newsCate}}<br><br>
        {{newsDetails[0].newsDescription}}
    </mat-card-content>
    <button class="btn btn-success"  [routerLink]="['/news/edit',newsDetails[0].newsID]">Update</button>&nbsp;&nbsp;
    <button class="btn btn-danger" [routerLink]="['/news/delete',newsDetails[0].newsID]">Delete</button>
        
</mat-card>