<h1 class="heading"><b>News and Achievements</b></h1><br>

  <button class="btn btn-info"  [routerLink]="['/news/create']">Add News/Achievements</button>
   <!-- <div class="main-content">
   <mat-card role="list">
       <mat-list-item  class="user-details" role="listitem" *ngFor="let program of listPrograms">
           <span class="programname"> <a class="action-link" [routerLink]="['/programs/view',program.id]">{{ program.productName }}</a></span> |  <a class="action-link" [routerLink]="['/programs/edit',program.id]">Update</a> |  <a class="action-link" [routerLink]="['/programs/delete',program.id]">Delete</a>
       </mat-list-item>

   </mat-card>
       
  
   </div> -->
  
   <mat-card class="card" role="list">
     <h1>All News and Achievements</h1>
   <table  class="table table-hover">
       <thead>
         <tr>
           <th  scope="col">Title</th>
           <th scope="col">Description</th>
           <th scope="col">Date</th>
           <th scope="col">Action</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let News of listNews">
           <td width="500px" ><span class="news"> <a class="action-link" [routerLink]="['/news/view',News.news_Id]">{{News.title}}</a></span></td>
           <td width="200px" ><span>{{News.newsDescription}}</span></td>
           <td><span >{{News.newsDate | date:'longDate'}}</span></td>
           <!-- <td><button mat-raised-button class="button-accept" [routerLink]="['/programs/edit',program.programId]">Update</button>&nbsp;&nbsp;<button class="btn btn-danger" [routerLink]="['/programs/delete',program.programId]">Delete</button></td> -->
           <td><button  mat-raised-button class="button-accept" color="primary" [routerLink] = "['/news/edit',News.news_Id]">Update</button>&nbsp;&nbsp;<button mat-raised-button class="button-reject" color="warn" [routerLink] = "['/news/delete',News.news_Id]">Delete</button></td>
         </tr>
         
       </tbody>
     </table >
   </mat-card> 

