.user-Details{
    margin: 150px 250px 250px;
    width: 50%;
}

.header{
   padding-top: 30px;
    text-align: center;
}
.content{
    margin-left: 40px;
    margin-right: 40px;
}
.button-update{
    background-color: limegreen;
}
.button-delete{
    margin-left: 20px;
}
.action-link{
    text-decoration: none;
    color: white;
}