
<mat-card class="user-details" *ngIf="programDetails" > 
    <h1>{{programDetails[0].programName}}</h1><br>
    <mat-card-content>
        <b>Event Categoty</b><br><div>{{programDetails[0].programCat}}</div><br><br>
        <b>Event Date</b><br><div>{{programDetails[0].programDate | date:'longDate'}}</div><br><br>
        <b>Event Description</b><br><div class="desc">{{programDetails[0].programDesc}}</div><br><br>
    </mat-card-content>
    <button mat-raised-button class="button-accept" color="primary" [routerLink]="['/programs/edit',programDetails[0].programId]">Update</button>&nbsp;&nbsp;
    <button mat-raised-button class="button-reject" color="warn" [routerLink]="['/programs/delete',programDetails[0].programId]">Delete</button>   
        
</mat-card><br><br>
