<mat-card class="form-card">
    <mat-card-title class="title">Update Event</mat-card-title><br>
    <mat-card-content>
        <div *ngIf="dataLoaded"> 
            <form [formGroup]="editProgramForm" (ngSubmit)="updateProgram()">
        
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Event Name</mat-label>
                    <input type="text" matInput  formControlName="programName" >
                </mat-form-field><br><br>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Event Date</mat-label>
                    <input id="date" type="date"  min="{{minDate}}" matInput  formControlName="programDate"> 
                </mat-form-field> <br><br>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Event Time</mat-label>
                <input id="time" type="time" value="time" matInput  formControlName="programTime"> 
                </mat-form-field> <br><br>
                
                <select class="custom-select" formControlName="programCat">
                    <option value="">Choose event category</option>
                    <option>CGU Event</option>
                    <option>Department Event</option>
                    <option>Workshop</option>
                </select><br><br><br>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Event Description</mat-label>
                    <textarea type="text" matInput formControlName="programDesc"></textarea>
                </mat-form-field> 
                
                <button mat-raised-button color="primary" [disabled]="!editProgramForm.valid">Update Event</button>
                
            </form>
        </div> 
        </mat-card-content>
    </mat-card>

    