.heading{
    text-decoration-color: black;
    padding-top: 10px;
    padding-left: 30px;
}

.card{
    margin-right: 30px;
    margin-left: 30px;
    background-color: white;
}

.title{
    min-width: 15px;
    font-size: 16px;
    text-decoration: none;
}

.vacancy{
    font-size: 16px;
}
.button-send{
    background-color: limegreen;
}
