
   <h1 class="heading"><b>Events and Workshops</b></h1><br>

   <button class="btn btn-info"  [routerLink]="['/programs/create']">Add New Event/Workshop</button>
   <!-- <div class="main-content">
   <mat-card role="list">
       <mat-list-item  class="user-details" role="listitem" *ngFor="let program of listPrograms">
           <span class="programname"> <a class="action-link" [routerLink]="['/programs/view',program.id]">{{ program.productName }}</a></span> |  <a class="action-link" [routerLink]="['/programs/edit',program.id]">Update</a> |  <a class="action-link" [routerLink]="['/programs/delete',program.id]">Delete</a>
       </mat-list-item>

   </mat-card>
       
  
   </div> -->
  
   <mat-card class="card" role="list">
   <table  class="table table-borderless">
       <thead>
         <tr>
           <th  scope="col">Event Name</th>
           <th scope="col">Category</th>
           <th scope="col">Date</th>
           <th scope="col">Action</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let program of listPrograms">
           <td width="500px" ><span class="programname"> <a class="action-link" [routerLink]="['/programs/view',program.programId]">{{program.programName}}</a></span></td>
           <td width="200px" ><span>{{program.programCat}}</span></td>
           <td><span >{{program.programDate}}</span></td>
           <td><button class="btn btn-success"  [routerLink]="['/programs/edit',program.programId]">Update</button>&nbsp;&nbsp;<button class="btn btn-danger" [routerLink]="['/programs/delete',program.programId]">Delete</button></td>
           
         </tr>
         
       </tbody>
     </table >
   </mat-card> 
  
