<!-- <mat-card class="user-details" *ngIf="contactDetails">
    <mat-card-title>{{contactDetails[0].NameOf}}</mat-card-title><br><br>
    <mat-card-content>
        {{newsDetails[0].newsImage}}<br>
        <b>News Categoty:</b>{{contactDetails[0].Title}}<br><br>
        {{contactDetails[0].Faculty}}
    </mat-card-content>
    <button class="btn btn-success"  [routerLink]="['/contact-us/edit',contactDetails[0].newsID]">Update</button>&nbsp;&nbsp;
    <button class="btn btn-danger" [routerLink]="['/contact-us/delete',contactDetails[0].newsID]">Delete</button>
        
</mat-card> -->
