<mat-card class="form-card">
    <mat-card-title>Update Contacts</mat-card-title><br>
    <mat-card-content>
        <div *ngIf="dataLoaded"> 
        <form [formGroup]="updateContactForm" (ngSubmit)="updateContacts()">
            <!-- <mat-form-field class="example-full-width" appearance="fill"> 
                <mat-label>Upload Image</mat-label> 
                <img [src]="url" height="200px" width="300px"><br><br> 
                <input type="file" class="form-control-file" id="exampleFormControlFile1" (change)="onSelectFile($event)"   formContrlName="event-image"><br><br> 
            </mat-form-field> -->
    
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Name</mat-label>
                <input type="text" matInput  formControlName="NameOf" >
            </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Title</mat-label>
                <input type="text" matInput  formControlName="Title"> 
            </mat-form-field> 
            
            <!-- <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>News Category-1</mat-label>
                <input type="text" matInput formControlName="newsCate" >
            </mat-form-field> -->

            <mat-form-field appearance="fill">
                <mat-label>Faculty</mat-label>
                <mat-select matNativeControl required formControlName="Faculty">
                  <mat-option value="CGU">CGU</mat-option>
                  <mat-option value="Faculty of IT">Faculty of IT</mat-option>
                  <mat-option value="Faculty of Eng">Faculty of Eng</mat-option>
                  <mat-option value="Faculty of Archi">Faculty of Archi</mat-option>
                </mat-select>
              </mat-form-field>


            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="text" matInput formControlName="Email">
            </mat-form-field> 

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Phone Number</mat-label>
                <input type="text" matInput  formControlName="PhNum"> 
            </mat-form-field> 
            
            <button mat-raised-button color="primary" [disabled]="!updateContactForm.valid">Update News</button>
            
        </form>
    </div> 
    </mat-card-content>
</mat-card>

