<div  class="sidebar">
<mat-list role="list">
    <mat-list-item  class="es-item" role="listitem"><b>DashBoard</b></mat-list-item>

    <mat-list-item class="item"  role="listitem">Overview</mat-list-item>
    <mat-list-item  role="listitem">
        <a href="programs/list" class="item">Events and Workshops</a>
    </mat-list-item>
    <mat-list-item class="item"  role="listitem">
        <a href="vacancies/list" class="item">vacancies</a>
    </mat-list-item>
    <mat-list-item class="item" role="listitem">Student Satisfaction</mat-list-item>
    <mat-list-item class="item" role="listitem">Consultation Sessions</mat-list-item>
    <mat-list-item class="item"  role="listitem">
        <a href="company-sessions/list" class="item">Company Sessions</a>
    </mat-list-item>
    <mat-list-item class="item"   role="listitem">News and Achievements</mat-list-item>
    <mat-list-item  class="item" role="listitem">Photo Gallery</mat-list-item>

  </mat-list>
</div>

