.sidebar{
    font-family:'Times New Roman', Times, serif;
}

#sidebar-list_1{
    font-family:monospace;
    position: relative;
}

.item{
    color: rgb(240, 228, 214);
}

.es-item{
    color: rgb(245, 240, 234);
    
}