<div class="sidebar">
    <mat-list role="list">
        <mat-list-item class="es-item" role="listitem"><b>DashBoard</b></mat-list-item>


        
        <mat-list-item class="item" role="listitem">
            <a href="overview/list" class="item">Overview</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a href="admins/list" class="item">Administrators</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a href="programs/list" class="item">Events and Workshops</a>
        </mat-list-item>
        <mat-list-item class="item" role="listitem">
            <a href="vacancies/list" class="item">Vacancies</a>
        </mat-list-item>
        <mat-list-item class="item" role="listitem">
            <a href="vacancies/list/cv" class="item">Linkedin Link List</a>
        </mat-list-item>
        <mat-list-item class="item" role="listitem">Student Satisfaction</mat-list-item>
        <mat-list-item class="item" role="listitem">
            <a href="consultationRequests/list" class="item">Consultation Sessions</a>
        </mat-list-item>
        <mat-list-item class="item" role="listitem">
            <a href="consultants/list" class="item">Consultants</a>
        </mat-list-item>
        <mat-list-item class="item" role="listitem">
            <a href="company-sessions/list" class="item">Company Sessions</a>
        </mat-list-item>
        <mat-list-item class="item" role="listitem">News and Achievements</mat-list-item>
        <mat-list-item class="item" role="listitem">
            <a href="image-album/list" class="item">Photo Gallery</a>
        </mat-list-item>
        <br>
        <br>
        <br>




        <mat-list-item class="item" role="listitem">
            <a href="overview/list" class="item" (click)="logout()">Logout</a>


        </mat-list-item>

    </mat-list>
</div>