.sidebar{
    font-family:'Times New Roman', Times, serif;
    width : 220px;
    font-size: small;
    background-color: rgb(6, 107, 114);
    height: 100%;
    // min-height: 702px;
}

#sidebar-list_1{
    font-family:monospace;
    position: relative;
}

.item{
    color: rgb(240, 228, 214);
    text-decoration: none;
}

.es-item{
    color: rgb(245, 240, 234);
    
}