<div class="margin">
 <br><h1 class="heading"><b>Consultants</b></h1><br>

    <button class="btn btn-info" [routerLink]="['/consultants/add']">Add New Consultant</button>




    <mat-card class="card" role="list">
        
        <h1>All Consultants</h1>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Consultant Name</th>
                    <th scope="col">University Name</th>
                    <th scope="col">Post</th>
                    <th scope="col">Email</th>
                    <th scope="col" >Action</th>
          
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let consultant of listConsultants?.data">
                        <td width="220px"><span class="consultantname"><a class="action-link" [routerLink]="['/consultants/view',consultant.consultantId]">{{consultant.consultantFName +" "+consultant.consultantLName}}</a></span></td>
                        <td width="200px" ><span>{{consultant.universityName}}</span></td>
                        <td width="250px" ><span>{{consultant.post}}</span></td>
                        <td><span>{{consultant.email}}</span></td>
                        <td><button mat-raised-button class="button-update" color="primary" [routerLink]="['/consultants/update',consultant.consultantId]">Update</button>&nbsp;&nbsp;
                            <button mat-raised-button class="button-delete" color="warn" [routerLink]="['/consultants/delete',consultant.consultantId]">Delete</button>
                        </td>
                        
                    </tr>
                </tbody>
               
                    
                   
             
                
            </table>
              
   
    </mat-card>
  </div>  



 