.username{
    min-width: 300px;
}
.action-link{
    text-decoration: none;
    color: white;
}
.consultantName{
    padding-left: 15px;
    text-decoration: none;
    color: black;
}
.topics{
    padding-left: 30px;
    font-style: bold;
}
.table-header{
    font-size: large;
    font-weight: 200%;
    padding-left: 30px;
}
button{
    margin-right: 20px;
}
