
<h1 class="heading"><b>Administrators</b></h1><br>

<span class = "btn"> <button class="btn btn-info"[routerLink]="['/admins/create']">Add New Administrator</button></span> 

<mat-card class="card"  role="list">
  <h1>All Administrators</h1>
    <table  class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor= "let admin of listadmins.data">
            <td width="250px" ><span class="name">{{admin.fullname}}</span></td>
            <td width="200px" ><span class = "email">{{admin.email }}</span></td>
            <td width="200px" ><span class = "email">{{admin.phone_number}}</span></td>
          </tr>     
        </tbody>
    </table>
        <!-- <mat-paginator [length]="200" [pageSizeOptions]="[2,3,4]" aria-label="Select page">
        </mat-paginator> -->
</mat-card>

