.heading{
    text-decoration-color: black;
    padding-top: 10px;
    padding-left: 30px;
}

.btn{
   margin-left: 10px;
}

.card{
    margin-top: 30px ;
    margin-right: 30px;
    margin-left: 30px;
    background-color: white;
}

.name{
    min-width: 15px;
    font-size: 16px;
}

.email{
    font-size: 16px;
}

.my-pagination ::ng-deep .ngx-pagination .current {
    background: rgb(38, 124, 146);
}
