.user-details{
    margin: 20px;
   }

.card{
    margin: 150px 250px 250px;
    width: 50%;
  }
  
.button{
    margin-top: 10px;
    margin-left: 10px;
}
   
.button1{
    margin-top: 10px;
    margin-left: 200px;
    background-color: limegreen;
}

.title{
     margin-bottom: 15px;
     margin-left: 180px;
     text-align: center;
}
   
.content{
    margin-bottom: 25px;
    margin-left: 70px;
}