.user-details{
    margin: 20px;
   }

.card{
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
    width: 75%;
  }
  
   .button{
       margin-left: 20px;
   }
   
   .button1{
       margin-left: 20px;
       background-color: limegreen;
   }
   .title{
       margin-bottom: 15px;
   }
   
   .content{
       margin-bottom: 25px;
   }