<mat-card class="album-view">
    <a class="action-link" [routerLink]="['/image-album/view', albumId]">
        <mat-card-title>
            {{album?.name}}
        </mat-card-title>
    </a><br>

    <mat-card-content>
        <p>{{album?.description}}</p>
    </mat-card-content>
    <!-- <button mat-raised-button class="button-view" color="basic" [routerLink]="['/image-album/view',albumId]">View
    Album</button> -->
    &nbsp;&nbsp;
    <button mat-raised-button class="button-update" color="primary" [routerLink]="['/image-album/edit',albumId]">Update
    Album</button>&nbsp;&nbsp;
    <button mat-raised-button class="button-delete" color="warn" [routerLink]="['/image-album/delete',albumId]" (click)="onDelete()">Delete Album</button>
</mat-card>
